<?xml version='1.0' encoding='utf-8'?>
<widget id="io.imirai.rentalz" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rental Apartments Finder</name>
    <description>
        An app use to rent the house with name is RentalZ
    </description>
    <author email="tunagcs18435@fpt.edu.vn" href="http://cordova.io">
        Okimura Imirai
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="assets/logo.png" density="mdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
